__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.log
.git
.gitignore
Dockerfile
.dockerignore
README.md
dist
build
.pytest_cache
.coverage
htmlcov
.hatch
main
test-request-json
test-response-json
.venv
api_test.py
get_auth_token.py
*.tar